@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css)

@font-face
  font-family: "Hannari"
  font-style: normal
  font-weight: 400
  src: font-url('hannari.ttf') format('opentype')
  src: font-url('hannari.woff') format('woff')

@font-face
  font-family: "HannariTate"
  font-style: normal
  font-weight: 400
  src: font-url('hannari-tate.ttf') format('opentype')
  src: font-url('hannari-tate.woff') format('woff')

$font-family: 'Noto Sans Japanese', sans-serif
$font-size-normal: 14px
