<%= render 'blocks/split-block', { contents: @artist, artworks: @artworks, version: "info_none" } %>
<div class="artist-detail__wrapper">
  <%= render 'blocks/content-detail', { content: @artist } %>
</div>
