.gallery-map__wrapper
  width: 1024px
  margin: 0 auto
  padding: 0 20px
  margin-bottom: 20px

#map-canvas
  width: 100%
  height: 600px

.gallery-detail
  .global-footer__body-info-item
    line-height: 25px
    &:first-child
      margin-bottom: 30px
      display: flex
      div
        &:first-child
          flex-shrink: 0
          padding-right: 10px

+media($tablet)
  .gallery-map__wrapper
    width: 100%
    padding: 0

+media($phone)
  #map-canvas
    height: 300px

  .gallery-detail
    padding: 0 20px
    .content-detail__body
      margin-bottom: 0
    .content-detail__description
      +none-padding-margin
    .content-detail__content
      padding-right: 0
      padding-left: 0
