<div class="content-detail__body">
  <div class="content-detail__description">
    <ul class="content-detail__description-items">
      <li class="content-detail__description-item is_logo">STANDING PINE</li>
    </ul>
  </div>
  <div class="content-detail__content">
    <ul class="global-footer__body-info-items">
      <li class="global-footer__body-info-item"><%= t('view.address_html') %></li>
      <li class="global-footer__body-info-item">Tel & Fax <%= t('view.tel') %></li>
      <li class="global-footer__body-info-item">https://standingpine.jp</li>
      <li class="global-footer__body-info-item">info@standingpine.jp</li>
      <li class="global-footer__body-info-item">13:00 - 19:00</li>
      <li class="global-footer__body-info-item"><%= t('view.closed_information') %></li>
    </ul>
  </div>
</div>
