<ul class="split-block__item-descriptions">
  <li class="split-block__item-description is_sub-title"><%= content.name_en %></li>
  <li class="split-block__item-description is_sub-title"><%= content.name_ja %></li>
</ul>
