<ul class="split-block__item-descriptions">
  <li class="split-block__item-description is_date"><%= content.starting_on.strftime("%Y.%m.%d %a") %> - <%= content.ending_on.strftime("%Y.%m.%d %a") %></li>
  <li class="split-block__item-description is_sub-title"><%= content.locale("sub_title") %></li>
  <li class="split-block__item-description is_title"><%= content.locale("title") %></li>
</ul>
