@import "font-awesome-sprockets";
@import "font-awesome";
@import "administrate/froala-custom";

// Self
body {
  font-size: 62.5%;
}

.app-container {
  font-size: 1.2em;
}

td img {
  max-height: 100%;
}

input[type="file"] {
  font-size: 1em;
}
