body
  background-image: image-url("background-tail.png")
  background-repeat: repeat
  color: $text-color
  font-family: $font-family
a
  &:hover, &:active
    transition: 0.5s
    opacity: .5

+media($phone)
  a
    &:hover, &:active
      transition: unset
      opacity: unset
    &:active
      opacity: .5

h1, h2, h3, h4, h5, h6
  font-family: $font-family
  letter-spacing: -0.05em
  font-weight: bold
