<footer class="global-footer">
  <div class="global-footer__logo">
    <h2 class="global-footer__logo-h2">STANDING PINE</h2>
  </div>
  <div class="global-footer__body">
    <div class="global-footer__body-info">
      <ul class="global-footer__body-info-items">
        <li class="global-footer__body-info-item">〒460-0003 愛知県名古屋市中区錦2丁目5-24 えびすビル Part2 3F</li>
        <li class="global-footer__body-info-item">Tel 052 203 3930</li>
        <li class="global-footer__body-info-item">https://standingpine.jp | info@standingpine.jp</li>
        <li class="global-footer__body-info-item">13:00 - 19:00 | 月・火・祝日休廊</li>
      </ul>
    </div>
    <div class="global-footer__body-copyright">
      <small>&copy;STANDING PINE</small>
    </div>
  </div>
</footer>
