<% @current_page = (local_assigns.has_key? :current_page) ? current_page: nil %>
<div class="sub-title">
  <div class="sub-title__wrapper">
    <h3 class="sub-title__title is-news">
      <%= sub_title(@current_page) %>
    </h3>
    <div class="design-box">
    </div>
  </div>
</div>
