<% @current_page = (local_assigns.has_key? :current_page) ? current_page: nil %>
<header class="sub-title <%= "is-responsive_none" if @current_page == 'home' %>">
  <div class="sub-title__wrapper">
    <h3 class="sub-title__title">
      <%= sub_title(@current_page) %>
    </h3>
    <div class="sub-title__content-box">
      <%= render 'articles/year-select', { current_page: @current_page } unless @current_page == 'home' %>
    </div>
  </div>
  <div class="design-box">
    <div class="design-box__wrapper">
      <div class="design-box__body"></div>
    </div>
  </div>
</header>
