---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501691381'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[]}

'
  recorded_at: Wed, 02 Aug 2017 16:29:40 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691382'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[]}

'
  recorded_at: Wed, 02 Aug 2017 16:29:41 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"shule517@gmail.com"}]'
    headers:
      Authorization:
      - Bearer <BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1501691384'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":0,"persisted_recipients":["c2h1bGU1MTdAZ21haWwuY29t"],"unmodified_indices":[],"updated_count":1}'
  recorded_at: Wed, 02 Aug 2017 16:29:42 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691394'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691366,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691366}]}

'
  recorded_at: Wed, 02 Aug 2017 16:29:53 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691405'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691366,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691366}]}

'
  recorded_at: Wed, 02 Aug 2017 16:30:05 GMT
recorded_with: VCR 3.0.3
