---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501692204'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691458,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691458}]}

'
  recorded_at: Wed, 02 Aug 2017 16:43:24 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501692205'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691458,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691458}]}

'
  recorded_at: Wed, 02 Aug 2017 16:43:25 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/c2h1bGU1MTdAZ21haWwuY29t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501692207'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:43:27 GMT
[...]
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501692210'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[]}

'
  recorded_at: Wed, 02 Aug 2017 16:43:29 GMT
recorded_with: VCR 3.0.3
