---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501690772'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690710,"email":"0@gmail.com","first_name":null,"id":"MEBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690710},{"created_at":1501690712,"email":"1@gmail.com","first_name":null,"id":"MUBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690712},{"created_at":1501690689,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690689},{"created_at":1501690714,"email":"2@gmail.com","first_name":null,"id":"MkBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690714}]}

'
  recorded_at: Wed, 02 Aug 2017 16:19:32 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=0@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690773'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690710,"email":"0@gmail.com","first_name":null,"id":"MEBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690710}]}

'
  recorded_at: Wed, 02 Aug 2017 16:19:33 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MEBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690776'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:19:36 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MUBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690781'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:19:40 GMT
[...]
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690783'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690689,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690689}]}

'
  recorded_at: Wed, 02 Aug 2017 16:19:43 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/c2h1bGU1MTdAZ21haWwuY29t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690786'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:19:45 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MkBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690790'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:19:49 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"shule517@gmail.com"}]'
    headers:
      Authorization:
      - Bearer <BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1501690794'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":1,"persisted_recipients":["c2h1bGU1MTdAZ21haWwuY29t"],"unmodified_indices":[],"updated_count":0}'
  recorded_at: Wed, 02 Aug 2017 16:19:52 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690804'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690792,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690792}]}

'
  recorded_at: Wed, 02 Aug 2017 16:20:03 GMT
recorded_with: VCR 3.0.3
