---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501690963'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690887,"email":"0@gmail.com","first_name":null,"id":"MEBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690887},{"created_at":1501690889,"email":"1@gmail.com","first_name":null,"id":"MUBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690889},{"created_at":1501690891,"email":"2@gmail.com","first_name":null,"id":"MkBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690891}]}

'
  recorded_at: Wed, 02 Aug 2017 16:22:43 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=0@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690964'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690887,"email":"0@gmail.com","first_name":null,"id":"MEBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690887}]}

'
  recorded_at: Wed, 02 Aug 2017 16:22:44 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MEBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690967'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:22:46 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MUBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690971'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:22:51 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/MkBnbWFpbC5jb20=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501690976'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:22:56 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"0@gmail.com"}]'
    headers:
      Authorization:
      - Bearer <BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1501690980'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":1,"persisted_recipients":["MEBnbWFpbC5jb20="],"unmodified_indices":[],"updated_count":0}'
  recorded_at: Wed, 02 Aug 2017 16:22:59 GMT
[...]
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501690995'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501690979,"email":"0@gmail.com","first_name":null,"id":"MEBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690979},{"created_at":1501690981,"email":"1@gmail.com","first_name":null,"id":"MUBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690981},{"created_at":1501690983,"email":"2@gmail.com","first_name":null,"id":"MkBnbWFpbC5jb20=","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501690983}]}

'
  recorded_at: Wed, 02 Aug 2017 16:23:15 GMT
recorded_with: VCR 3.0.3
