---
http_interactions:
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '0'
      X-Ratelimit-Limit:
      - '1'
      X-Ratelimit-Reset:
      - '1501691234'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691205,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691205}]}

'
  recorded_at: Wed, 02 Aug 2017 16:27:13 GMT
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691235'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[{"created_at":1501691205,"email":"shule517@gmail.com","first_name":null,"id":"c2h1bGU1MTdAZ21haWwuY29t","last_clicked":null,"last_emailed":null,"last_name":null,"last_opened":null,"updated_at":1501691205}]}

'
  recorded_at: Wed, 02 Aug 2017 16:27:14 GMT
[...]
- request:
    method: delete
    uri: https://api.sendgrid.com/v3/contactdb/recipients/c2h1bGU1MTdAZ21haWwuY29t
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 204
      message: NO CONTENT
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691237'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 02 Aug 2017 16:27:16 GMT
[...]
- request:
    method: post
    uri: https://api.sendgrid.com/v3/contactdb/recipients
    body:
      encoding: UTF-8
      string: '[{"email":"shule517@gmail.com"}]'
    headers:
      Authorization:
      - Bearer <BEARER>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '2'
      X-Ratelimit-Limit:
      - '3'
      X-Ratelimit-Reset:
      - '1501691240'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"error_count":0,"error_indices":[],"new_count":1,"persisted_recipients":["c2h1bGU1MTdAZ21haWwuY29t"],"unmodified_indices":[],"updated_count":0}'
  recorded_at: Wed, 02 Aug 2017 16:27:20 GMT
[...]
- request:
    method: get
    uri: https://api.sendgrid.com/v3/contactdb/recipients/search?email=shule517@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Reset:
      - '1501691266'
      Powered-By:
      - Mako
    body:
      encoding: UTF-8
      string: '{"recipients":[]}

'
  recorded_at: Wed, 02 Aug 2017 16:27:45 GMT
recorded_with: VCR 3.0.3
